@import '_ply.vars.scss';

$ply-chord-font-size: 16px;

//Common Classes
.clickable {
  cursor: pointer;
}

.non-clickable {
	cursor: default;
}

.ply-chord {
	color: #0288D1;
}

.chord {
  color: $ply-pink;
  font-size: $ply-chord-font-size;
  direction: ltr;
}

