@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import '_ply.vars.scss';

$ply-chord-font-size: 16px;

//Common Classes
.clickable {
  cursor: pointer;
}

.non-clickable {
	cursor: default;
}

.ply-chord {
	color: #0288D1;
}

.chord {
  color: $ply-pink;
  font-size: $ply-chord-font-size;
  direction: ltr;
}

.ply-btn-ghost {
	border: 1px solid #FFFFFF;
}

.ply-ellipsis {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.text-align-right {
  text-align: right;
}

.no-padding {
  padding:0;
}

.ply-transparent {
  background: transparent;
}

.ply-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: $ply-pink;
  opacity: 0.8;
}

.ply-white {
  color: $ply-white;
}

.hebrew-sans {
  font-family: 'Open Sans Hebrew', sans-serif;
}
