//Bootstrap Overrides
$brand-primary:         #0288D1 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$ply-grey-light:        #EFEFEF;
$ply-divider:           #B6B6B6;
$ply-yellow:            #FFA000 !default;
$ply-pink:              #FF4081;
$ply-blue-light:        #B3E5FC;
$ply-white:             #FFFFFF;

$primary-text:          #212121;

$body-bg:				#FFFFFF;
