@import '_ply.vars.scss';
@import '_ply.class.scss';

@import 'ply.home.scss';
@import 'ply.chord.scss';

//TODO - move to var
$PLY-ICON-LG: 20px;
$PLY-LOGO-SIZE: 50px;
$LABEL-FONT-SIZE: 14px; 
$AVATAR-DEMENSIONS: 64px;

body {
	outline: none !important;
}


.ply-app {
	.ply-main-container {
		margin-top: 70px; 
		&.sidebar-open {
		}
		
		.ply-fab {
			position: fixed;
			bottom:15px;
			right:20px;
			.ply-fab-icon {
				fill: #ffffff;
				line-height: 68px;
				padding-top:5px; 
				&.ply-fab-icon-dark {
					fill: #212121;
				}
			}		
		}
	}

	.ply-topnav {
		position: fixed;
		top:0;
		.ply-topnav-login {
			.ply-topnav-login-title {
				font-size: $LABEL-FONT-SIZE; 
			}
			.ply-topnav-login-btn {
				padding:0;
				width: 25px;
			}
			.ply-topnav-login-avatar {
				width: $AVATAR-DEMENSIONS;
				height: $AVATAR-DEMENSIONS;
				padding:5px;
				border-radius: 50%;
			}
		}
		.ply-logo {
			height: $PLY-LOGO-SIZE;
			width: $PLY-LOGO-SIZE;
			margin-right: 10px; 
		}
		.md-icon-button {
			fill: #ffffff;
			padding: 5px;
		}
	}


	.ply-sidenav {
		.md-list-item-text {
			width: 100%;		
			.md-primary {
				text-align: left;
			}
			i {
				font-size: $PLY-ICON-LG;
				margin-left: 10px;
			}
		}
	}

	.rating {
	  margin: 0;
	  padding: 0;
	  display: inline-block;
	  
	  li {
	    padding: 1px;
	    color: #ddd;
	    font-size: 20px;
	    list-style-type: none;
	    display: inline-block;
	    cursor: pointer;
	    &.filled {
	      color: $ply-yellow;
	    }
	  }
	}

	.footer { 
		position: fixed;
		bottom:0;
		width:100%;
		.ply-alert-container {
			float:right;
			width: 30%;
		}
	}	
}

.ply-switch {
	.md-bar {
		background-color: $ply-divider;
	} 
}


md-toast {
	background-color: #727272;
	color: #FFFFFF;
	position: fixed;
}

md-progress-circular {
	position: fixed;
	left:50%;
	top:50%;
	z-index:1000;
}