@import 'ply.vars';

.weekly-chart {
	.weekly-chart-song-rank {
	 height: 60px;
    width: 60px;
    border-radius: 50%;
    background: $ply-pink;
    text-align: center;
    padding-top: 15px;	
    font-size: 2em;
    color: $ply-white;
	}
	
}