@import '_ply.vars.scss';

#home {
	.ply-search-form {
		.ply-search-form-select {
			height: 36px; 
		}
	}
	.ply-search-results {
		margin-top: 15px; 
		position: relative;
		.md-avatar {
			height: 80px;
			width: 80px;
		}
	}

}