@import "_ply.vars.scss";

.builder {
  .editor {
    width: 100%;
    border: 0;
    font-size: 2em;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 20px;

    &:focus {
      border: 0;
      outline: none !important;
      border-bottom: 2px solid $brand-primary;
    }
  }

  h2 {
    color: $primary-text;
  }
}
