@import '_ply.vars.scss';

#chord {
	.ply-autoscroll-widget {
		.ply-autoscroll-widget-minimize {
			float: right;
		}
    width: 20%;
    cursor: move;
    float: right;
  	position: fixed !important;

    @media (max-width:500px){
    	width: 40%;
    	right: 10px;
    	top: 60px;
		}
    &.minified {
      width: 50px;
    }
    .ply-autoscroll-widget-gauge { 
    	width: 100%;
    	height: 100%;
    	padding: 5px;
    }
  }
	.ply-chord-container {
		padding-left:30px;

	}

  text-size-slider {
    .text-size-slider {
      line-height: 100%;
      font-size: 14px;
    }

    .text-size-slider .small-letter,.text-size-slider .big-letter
    {
      font-weight: bold;
    }

    .text-size-slider .slider {
      -webkit-appearance: none;
      margin: 0 8px;
      display: inline;
      width: auto;
    }

    .text-size-slider .slider:focus {
      outline: none;
    }

    .text-size-slider .slider::-webkit-slider-thumb {
      border: none;
      cursor: pointer;
      -webkit-appearance: none;
      background-color: $ply-pink;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-top: -6px;

    }

    .text-size-slider .slider::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: $ply-grey-light;
      border: 0;
    }

  }  

  
}