<md-toolbar class="ply-topnav" translate-cloak
            translate-namespace="toolbar">
  <div class="md-toolbar-tools" layout="row" layout-align="center center">
    <div flex="60" class="ply-ellipsis">
      <md-button class="md-icon-button" aria-label="Settings">
        <ng-md-icon ng-click="toggleSidebar()" icon="menu" size="30"></ng-md-icon>
      </md-button>

      <span class="clickable" ui-sref="home">
        <ply-logo></ply-logo>
      </span>
      <ng-md-icon hide-sm class="ply-topnav-back clickable" layout-align="center center" onclick="history.back()" icon="{{$root.app.dir === 'rtl' ? 'arrow_forward' : 'arrow_back'}}" size="30"></ng-md-icon>
      <span hide-sm class="ply-ellipsis">
        <span translate=".APP_NAME"></span>
        <span>| {{currPage | translate}}</span>
      </span>
    </div>

    <div  flex="35" class="ply-topnav-login"
          ng-controller="LoginCtrl"
          translate-namespace=".login"
          layout="row"
          layout-align="end center">
      <ply-avatar-menu></ply-avatar-menu>

    </div>
    <ply-language-picker flex="5"></ply-language-picker>
  </div>
</md-toolbar>
