<md-toolbar class="ply-topnav" translate-cloak
            translate-namespace="toolbar">
  <div class="md-toolbar-tools" layout="row" layout-align="center center">
    <div flex="60" class="ply-ellipsis">
      <ply-btn-icon
        icon="$ctrl.menu.icon"
        click="$ctrl.menu.click"
        size="30"
      >
      </ply-btn-icon>
      <span class="clickable" ui-sref="home">
        <ply-logo></ply-logo>
      </span>
      <ply-btn-icon
        icon="$ctrl.back.icon"
        click="$ctrl.back.click"
        size="25"
      >
      </ply-btn-icon>
      <span hide-sm class="ply-ellipsis">
        <span translate=".APP_NAME"></span>
        <span>| {{currPage | translate}}</span>
      </span>
    </div>

    <div  flex="35" class="ply-topnav-login"
          ng-controller="LoginCtrl"
          translate-namespace=".login"
          layout="row"
          layout-align="end center">
      <ply-avatar-menu></ply-avatar-menu>

    </div>
    <!-- <ply-language-picker flex="5"></ply-language-picker> -->
  </div>
</md-toolbar>
