/node_modules
/.tmp
/.sass-cache
/bower_components
.idea
/resources
/.tscache
/typings
*.map
app/**/*.js
!app/env.js
!app/components/metronome/buzz.min.js
!app/pages/tuner/AudioContextMonkeyPatch.js
!app/pages/tuner/dsp.js
