/node_modules
/.tmp
/.sass-cache
/bower_components
.idea
/resources
/.tscache
/typings
*.map
*/.DS_Store
/test/coverage
/dist
.DS_Store
app/**/*.js
!app/components/metronome/buzz.min.js
!app/pages/tuner/AudioContextMonkeyPatch.js
!app/pages/tuner/dsp.js
