<!-- <section layout-padding>
  <h1 hide>Disqus</h1>
  <ply-disqus ply-disqus-url="home"></ply-disqus>
</section> -->
<section>
  <h1 hide>Alerts</h1>
  <alert class="ply-alert-container" ng-repeat="alert in allAlerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</section>
<section>
  <h1 hide>Footer</h1>
  <div class="md-padding" layout="row" >
  <div flex="30">
    <a href="http://www.acum.org.il" target="_blank"><img src="assets/images/acumlogo.png" height="50" width="50" alt=""></a>
    <a href="https://twitter.com/playalong_io" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @playalong_io</a>
  </div>
  <div flex="40" hide-sm>
    <!-- Facebook init -->
    <div id="fb-root"></div>
    <div class="fb-like" data-href="https://www.facebook.com/playalongio/" data-width="50%" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
  </div>
</section>
