<md-sidenav class=" md-whiteframe-z2 ply-sidenav" 
            md-component-id="left"
            ng-class="{'md-sidenav-right': app.dir === 'rtl', 'md-sidenav-left': app.dir !== 'rtl' }">
  <md-toolbar class="md-theme-indigo" md-scroll-shrink="true">
    <h1 class="md-toolbar-tools" translate="toolbar.APP_NAME" ></h1>
  </md-toolbar>
  <md-content ng-controller="SidebarCtrl">
    <md-list>
      <div ng-repeat="item in menuItems">
        <md-list-item class="md-3-line clickable"
                      >
          <div class="md-list-item-text" ng-click="close()"  ui-sref="{{item.ref}}"  ui-sref-active="active">
            <i class="fa fa-{{item.icon}}"></i>
            <md-button class="md-primary">{{item.text | translate}}</md-button>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
       </div>
      </md-list>
  </md-content>
</md-sidenav>