<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- endbuild -->

    <!-- AppSumo List Builder -->
    <script src="//load.sumome.com/" data-sumo-site-id="16c54b37ca6f117d5bf5a6b3b8f719481d6e3c91ec2775bc2ada2c4646a4cb20" async="async"></script>
  </head>
  <body ng-app="playalongWebApp">

  <div ng-controller="MainCtrl" layout="column">
    <section flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2 ply-sidenav" md-component-id="left">
        <md-toolbar class="md-theme-indigo" md-scroll-shrink="true">
          <h1 class="md-toolbar-tools">PlaYalong</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="SidebarCtrl">
          <md-list>
            <div ng-repeat="item in menuItems">
              <md-list-item class="md-3-line clickable">
                <div class="md-list-item-text"  ui-sref="{{item.ref}}">
                  <i class="fa fa-{{item.icon}}"></i>
                  <md-button class="md-primary">{{item.text}}</md-button>
                </div>
              </md-list-item>
              <md-divider ></md-divider>
             </div>
            </md-list>
        </md-content>
      </md-sidenav>
      <md-content flex layout-padding class="ply-topnav">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
              <ng-md-icon ng-click="toggleLeft()" icon="menu"></ng-md-icon>
            </md-button>
            <span class="clickable" ui-sref="home">
                <img ng-src="{{paths.images.logo}}" class="ply-logo" alt="Washed Out" />
                  {{currPage}}
            </span>
          </div>
        </md-toolbar>
      </md-content>
      <div ui-view class="ply-main-container"></div>
    </section>
  </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- ui bootstrap -->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/sidebar.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/chord.js"></script>
    <script src="scripts/controllers/builder.js"></script>
    <script src="scripts/directives/plalyricseditor.js"></script>
    <!-- endbuild -->

    <!-- Playalong.services -->
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script src="bower_components/playalong.services/dist/scripts/scripts.e348e52e.js"></script>
    <script src="bower_components/playalong.services/dist/scripts/vendor.c74629b6.js"></script>
    <!-- Playalong.services -->


    <!-- UI-Router -->
    <script src="scripts/config/config.route.js"></script>

    <!-- etc -->
    <script src="scripts/config/config.constants.js"></script>
    <script src="scripts/config/config.themes.js"></script>
    <script src="scripts/directives/star-rating.js"></script>

</body>
</html>
