@import 'ply.common';
@import 'ply.layout';

//Pages
@import 'ply.builder';
@import 'ply.chord';
@import 'ply.topChords';
@import './app/pages/tuner/tuner';
@import 'ply.weekly-chart';

//Partials
@import 'ply.toolbar';
@import 'ply.sidenav';

//Components
@import 'ply.autoscroll-widget';
@import 'ply.text-size-slider';
@import './app/components/metronome/metronome';
