@import 'ply.vars';

#chord {
	position: relative;
	.ply-chord-container {
		padding-left:30px;
    .ply-icon-favorites {
      color: $ply-pink;
      .fa {
      	font-size: $ply-icon-xl;
      }

    }
	}
	.ply-autoscroll {
		z-index: 1;
	}
	.ply-spinner-wrapper {
		min-height: 300px;
	}
}
