<div  class="md-padding" id="home"
      translate-namespace="home">
  <section>
    <md-card layout-align="center">
      <md-card-content>
        <h1 class="md-title" translate=".SEARCH_TITLE"></h1>
        <form name="chordSearchForm" class="ply-search-form" novalidate>
          <div layout="row" layout-wrap>
            <div flex-sm="100" flex-gt-sm="25">
              <radio-buttons
                inputs="home.ChordSearchModel.radioInputs"
                on-radio-changed="home.ChordSearchService.onRadioChanged"
              >
              </radio-buttons>
            </div>
            <div flex-sm="100" flex-gt-sm="60">
              <text-input
                label="home.ChordSearchModel.searchInput.label"
                placeholder="home.ChordSearchModel.searchInput.placeholder"
                on-change="home.ChordSearchService.onSearchInputChanged"
              >
              </text-input>
            </div>
            <div flex hide-sm>
              <ply-button
                label="'Go'"
                click="home.searchChords"
              >
              <ply-button>
            </div>
          </div>
          <div layout="row" layout-align="center left" hide-gt-sm>
            <ply-button
              label="'Go'"
              click="home.searchChords"
            >
            <ply-button>
          </div>
          <div layout="row">
            <div flex>
              <md-button class="md-primary md-hue-1" aria-label="Top Chords" ui-sref="topChords" translate="topChords.PAGE_TITLE"></md-button>
            </div>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </section>

  <!-- search results -->
  <section  ng-include="'./app/views/topChords.html'"
        ng-if="!home.searchResults"
        ng-controller="TopchordsCtrl as top"></section>
  <section>
    <md-card layout-align="center" ng-if="!!home.searchResults" class="ply-search-results">
      <ply-spinner trigger-start-event="startSearchChordsSpinner" trigger-stop-event="stopSearchChordsSpinner"></ply-spinner>
      <md-card-content>

        <h1
          class="md-title"
          layout-align="left"
          ng-if="home.resultMessage"
          ng-bind="home.resultMessage">
        </h1>
        <h5 ng-if="!home.searchResults.length">
          <span translate=".REQUEST_SONG"></span>
          <a href="mailto:contact@playalong.io?subject=Please get me my beautiful song!" target="_blank" translate=".HERE"></a>
        </h5>

        <md-list ng-repeat="result in home.searchResults track by $index">
          <chord-result
            chord="result">
          </chord-result>
        </md-list>
      </md-card-content>
    </md-card>
  </section>
</div>
