<form name="builder" novalidate>

  <div class="message-bar" ng-model="message"></div>
  <md-content class="md-padding md-whiteframe-z4 builder">
    <md-input-container>
      <label>Artist</label>
      <input required name="artist" ng-model="chord.artist">
    </md-input-container>

    <md-input-container>
      <label>Title</label>
      <input required ng-model="chord.title">
    </md-input-container>

    <h2>Lyrics and chords</h2>

    <div id="rawContent" class="editor col-md-6 editor-lyrics" pla-editor contentEditable></div>

    <!-- Currently Autosave -->
    <!-- <md-button class="md-raised md-primary pull-right" type="submit" ng-click="saveChord()"></md-button> -->
    <md-input-container>
      <md-switch id="publishChord" ng-model="chord.published" aria-label="Publish Chord">
        Publish Chord
      </md-switch>
    </md-input-container>

  </md-content>

  {{ chord }}
  {{ rawContent }}

</form>
