<form name="builder" novalidate>
  
  <md-content class="md-padding md-whiteframe-z4 builder">
    <div class="ply-overlay" ng-if="!login.isSuperUser()">
      <div class="jumbotron ply-transparent text-center ply-white">
        <h1>Want To Create and Edit Chords?</h1>  
        <br/><br/>
        <h1 class="ply-white">
          Contact Us 
          <a  href="mailto:contact@playalong.io?subject=I Wanna Be a SuperUser!" "Please :)"
              target="_blank">HERE</a>
        </h1>

        <h3>If you're already a superuser, simply login...</h3>
      </div>
      

    </div>  
    <div layout="row" >
      <md-input-container flex>
        <label>Artist</label>
        <input required name="artist" ng-model="chord.artist">
      </md-input-container>
      <span flex="10"></span>
      <md-input-container flex>
        <label>Title</label>
        <input required ng-model="chord.title">
      </md-input-container>
    </div>

    <div layout="row" layout-wrap>
      <div flex="50">
        <md-switch class="ply-switch" ng-model="isPreviewMode" aria-label="Switch 1" ng-change="handleSwitchModes()">
            Switch To {{getTextByMode()}} Mode
          </md-switch>
          <md-switch class="ply-switch" ng-model="chord.approved" aria-label="Approved" ng-if="login.isSuperUser()">
              Approved?
            </md-switch>
      </div>
      <div flex="50">
        <md-button  class="md-raised md-accent pull-right"
          type="submit"
          ng-click="createChordInDb()"
          ng-if="!$stateParams.id && !chordCreated">
          Create Chord
        </md-button>
        <md-button  class="md-primary md-hue-1 pull-right"
          ng-if="$stateParams.id || chordCreated"
          ng-click="goToChordPage(chord)">
          See Chord In Action
        </md-button>
      </div>
    </div>
    <div layout="row" class="ply-editor-wrapper">
      <text-angular ng-show="!isPreviewMode" class="ply-editor"  flex ng-model="chord.content"></text-angular>
      <div  ng-show="isPreviewMode" flex class="ply-chord-preview"
            ng-bind-html="chord.content"></div>
    </div>
    <div layout="row" layout-wrap>
      <div flex="50">
        <md-switch class="ply-switch" ng-model="isPreviewMode" aria-label="Switch 1" ng-change="handleSwitchModes()">
            Switch To {{getTextByMode()}} Mode
          </md-switch>
      </div>
    </div>

    <md-button  class="md-raised md-accent pull-right"
                type="submit"
                ng-click="createChordInDb()"
                ng-if="!$stateParams.id && !chordCreated">
                Create Chord
    </md-button>
  </md-content>
</form>
