<div  class="md-padding" id="chord" ng-cloak
      translate-namespace="chord">
    <md-card  layout-padding layout-align="left center" 
              autoscroll speed="{{autoscrollSpeed}}"
              ng-class="{'text-align-right' : isRtl}">
      <autoscroll-widget speed="autoscrollSpeed" enabled="{{autoscrollEnabled}}"></autoscroll-widget>
      <md-card-content class="ply-chord-container">            
        <div layout="row">
          <div flex="70">
            <h2>{{chord.artist}}</h2>
            <h4>{{chord.title}}</h4>    
          </div>
          <div flex>
            <md-tooltip md-direction="top">
              {{'chord.FONTSIZE_CHANGE' | translate}}
            </md-tooltip>
            <text-size-slider element-class="ply-chord-container-content" min="12" max="24" unit="px" value="18" step="0">  
            </text-size-slider>
            <!-- <md-button  aria-label="auto scroll" 
                class="md-fab md-raised md-mini"
                ng-click="changeFontSize(1)">
      <ng-md-icon layout="center center" class="ply-fab-icon ply-fab-icon-dark" icon="add"></ng-md-icon>
      <md-tooltip 
        md-direction="{{::plyTooltip.getHorizontalDirection()}}">
        
      </md-tooltip>
    </md-button> -->
          </div>
        </div>
        
        <div class="ply-chord-container-content" ng-bind-html="chord.content"></div>
        <div  class="ply-chord-rating"
              ng-if="chordRating">
          <h5 tranlate=".RATE_MESSAGE"></h5>
          <star-rating ng-model="chordRating" chord="chord" max="5" readonly="ratingAttempts >= 2"></star-rating>
        </div>
      </md-card-content>
    </md-card>
</div>
<md-fab-speed-dial 
    class="ply-fab"
    ng-class="{'fab-right': app.dir === 'ltr',
                'fab-left': app.dir !== 'ltr'}" 
    md-open="chordFab.isOpen" md-direction="up"
    ng-class="chordFab.selectedMode">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-accent">
      <ng-md-icon class="ply-fab-icon" icon="more_vert"></ng-md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <!-- <md-button aria-label="toneUp" class="md-fab md-raised md-mini">
      <ng-md-icon class="ply-fab-icon ply-fab-icon-dark" icon="expand_more"></ng-md-icon>
    </md-button>
    <md-button aria-label="toneUp" class="md-fab md-raised md-mini">
      <ng-md-icon class="ply-fab-icon ply-fab-icon-dark" icon="expand_less"></ng-md-icon>
    </md-button> -->
    <md-button  aria-label="auto scroll" 
                class="md-fab md-raised md-mini"
                ng-click="toggleAutoscroll()">
      <ng-md-icon layout="center center" class="ply-fab-icon ply-fab-icon-dark" icon="format_line_spacing"></ng-md-icon>
      <md-tooltip 
        md-direction="{{::plyTooltip.getHorizontalDirection()}}">
        {{'chord.AUTO_SCROLL' | translate}}
      </md-tooltip>
    </md-button>
    
    <md-button  aria-label="edit chord" 
                class="md-fab md-raised md-mini" 
                ui-sref="builder.edit({id:chord.$id || chord.chordKey})"
                ng-if="isSuperUser()">
      <ng-md-icon layout="center center" class="ply-fab-icon ply-fab-icon-dark" icon="create"></ng-md-icon>
      <md-tooltip 
        md-direction="{{::plyTooltip.getHorizontalDirection()}}">
        {{'chord.EDIT_CHORD' | translate}}
      </md-tooltip>
    </md-button>
    
  </md-fab-actions>
</md-fab-speed-dial>