<md-content class="md-padding" id="chord">
    <md-card layout-padding layout-align="left center">
      <md-card-content class="ply-chord-container">            
        <div ng-bind-html="chord.content"></div>
        <div  class="ply-chord-rating"
              ng-if="chordRating">
          <h5>Was I Any Good? Rate me!</h5>
          <star-rating ng-model="chordRating" on-rating-selected="rateChord()">
          </star-rating>
        </div>
      </md-card-content>
    </md-card>
</md-content>
<md-fab-speed-dial 
    class="ply-fab" 
    md-open="chordFab.isOpen" md-direction="up"
    ng-class="chordFab.selectedMode">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-accent">
      <ng-md-icon class="ply-fab-icon" icon="add"></ng-md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <!-- <md-button aria-label="toneUp" class="md-fab md-raised md-mini">
      <ng-md-icon class="ply-fab-icon ply-fab-icon-dark" icon="expand_more"></ng-md-icon>
    </md-button>
    <md-button aria-label="toneUp" class="md-fab md-raised md-mini">
      <ng-md-icon class="ply-fab-icon ply-fab-icon-dark" icon="expand_less"></ng-md-icon>
    </md-button> -->
    <md-button aria-label="create" class="md-fab md-raised md-mini" ui-sref="builder.edit({id:chord.$id || chord.chordKey})">
      <ng-md-icon layout="center center" class="ply-fab-icon ply-fab-icon-dark" icon="create"></ng-md-icon>
      <md-tooltip md-direction="left">Edit Chord</md-tooltip>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>