<md-content class="md-padding" id="chord">
    <md-card layout-padding layout-align="left center">
      <md-card-content class="ply-chord-container">            
        <div class="row"><span style="padding-left:15px;" class="ply-chord">Fm</span><span style="padding-left:75px;" class="ply-chord">Fm</span></div>
        <div class="row"><span class="ply-song-text">There's a gold shadow, seeping through the door</span></div>
        <div class="row"><span style="padding-left:15px;" class="ply-chord">Fm</span><span style="padding-left:75px;" class="ply-chord">Fm</span></div>
        <div class="row"><span class="ply-song-text">There's a gold shadow, seeping through the door</span></div>
        <div class="row"><span style="padding-left:15px;" class="ply-chord">Fm</span><span style="padding-left:75px;" class="ply-chord">Fm</span></div>
        <div class="row"><span class="ply-song-text">There's a gold shadow, seeping through the door</span></div>
        <div class="row"><span style="padding-left:15px;" class="ply-chord">Fm</span><span style="padding-left:75px;" class="ply-chord">Fm</span></div>
        <div class="row"><span class="ply-song-text">There's a gold shadow, seeping through the door</span></div> 

        <br/>
        <br/>

        <div class="row"><span style="padding-left:15px;" class="ply-chord">Fm</span><span style="padding-left:75px;" class="ply-chord">Fm</span></div>
        <div class="row"><span class="ply-song-text">There's a gold shadow, seeping through the door</span></div>
        <div class="row"><span style="padding-left:15px;" class="ply-chord">Fm</span><span style="padding-left:75px;" class="ply-chord">Fm</span></div>
        <div class="row"><span class="ply-song-text">There's a gold shadow, seeping through the door</span></div>
        <div class="row"><span style="padding-left:15px;" class="ply-chord">Fm</span><span style="padding-left:75px;" class="ply-chord">Fm</span></div>
        <div class="row"><span class="ply-song-text">There's a gold shadow, seeping through the door</span></div>
        <div class="row"><span style="padding-left:15px;" class="ply-chord">Fm</span><span style="padding-left:75px;" class="ply-chord">Fm</span></div>
        <div class="row"><span class="ply-song-text">There's a gold shadow, seeping through the door</span></div> 

        <br/>
        <br/>

        <div class="ply-chord-rating">
          <h5>Was I Any Good? Rate me!</h5>
          <star-rating ng-model="chordRating"></star-rating>
        </div>
      </md-card-content>
    </md-card>

</md-content>
<md-fab-speed-dial class="ply-fab" md-open="chordFab.isOpen" md-direction="up"
                   ng-class="chordFab.selectedMode">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn">
      <ng-md-icon class="ply-fab-icon" icon="add"></ng-md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="toneUp" class="md-fab md-raised md-mini">
      <ng-md-icon class="ply-fab-icon ply-fab-icon-dark" icon="expand_more"></ng-md-icon>
    </md-button>
    <md-button aria-label="toneUp" class="md-fab md-raised md-mini">
      <ng-md-icon class="ply-fab-icon ply-fab-icon-dark" icon="expand_less"></ng-md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>