<section  id="topChords" 
      translate-namespace="topChords">
  <md-card layout-align="center" class="ply-search-results" >  
    <md-card-content>

      <h1 class="md-title"  translate=".TITLE"></h1>

      <div class="ply-search-results-wrapper">
        <ply-spinner trigger-start-event="startTopChordsSpinner" trigger-stop-event="stopTopChordsSpinner"></ply-spinner>

        <md-list 
          ng-if="top.topChords && top.topChords.length" 
          ng-repeat="chord in top.topChords | orderBy: '-hitCount' track by $index"
        >
          <chord-result
            chord="chord">
          </chord-result> 
      </div>
        
    </md-card-content>
  </md-card>
</section>