<section  id="topChords" 
      translate-namespace="topChords">
  <md-card layout-align="center" class="ply-search-results" >  
    <md-card-content>

      <h1 class="md-title"  translate=".TITLE"></h1>

      <div class="ply-search-results-wrapper">
        <ply-spinner trigger-start-event="startTopChordsSpinner" trigger-stop-event="stopTopChordsSpinner"></ply-spinner>

        <md-list ng-if="top.topChords && top.topChords.length" >
          <md-list-item class="md-2-line clickable"  ng-repeat="chord in top.topChords | orderBy: '-hitCount' track by $index" >
            <img ng-src="{{chord.imagePath}}" class="md-avatar" ng-if="chord.imagePath" />
            <div class="md-list-item-text" ng-click="goToChordPage(chord)"> 
              <h3 ng-bind="chord.artist"></h3>
              <p ng-bind="chord.title"></p>
              <p 
                ng-if="chord.hitCount > 0"
                ng-bind="::setHitCountMessage(chord.hitCount)">
              </p>
              <star-rating class="non-clickable" ng-if="chord.rating" ng-model="chord.rating" readonly="true"></star-rating>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
          
      </div>
        
    </md-card-content>
  </md-card>
</section>